:root{
    --cinza-claro  : #EEEEEE;
    --cinza-medio  : #686D76;
    --cinza-escuro : #373a40;
    --laranja      : #DC5F00;
    --branco-texto : #FFFFFF;
    --preto        : #000000;
    --cinza-azulado: #002C3E;
}